<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Laboratoria Memes</span>
        <span class="toolbar-spacer"></span>
        <a mat-button routerLink="/feed">Feed</a>
        <button mat-button (click)="goToFeed()">Feed</button>
        <button mat-button *ngIf="authService.user | async" (click)="goToNew()">Agregar Meme</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        Has perdido : {{seconds}}
    </mat-toolbar-row>
    <mat-toolbar-row>
        <app-auth-form></app-auth-form>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>